/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;1,700&display=swap"); */

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin : 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
}
li {
  list-style: none;
}

.main .roles {
  height: 18rem;
  width: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  font-size: 15px;
}
.filterItems .rolesHeading {
  margin-bottom: 2rem;
}
.check {
  display: flex;
}
.check input {
  width: 20px;
  height: 20px;
  margin-right: 1.5rem;
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}
.btn {
  text-align: center;
  margin: 2.5rem;
}
button {
  width: 5rem;
  height: 2.5rem;
  background-color: rgb(29, 158, 180);
  color: white;
  border-style: none;
}

button:hover {
  background-color: rgb(25, 115, 131);
}

.inputField {
  text-align: right;
  margin-bottom: 2.5rem;
}
input {
  height: 1.5rem;
  width: 12rem;
  padding: 0.2rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
